<%- include ../../partials/header.ejs %>
<%- include ../../partials/navbar.ejs %>
<div class="container">
    <div class="col">
        <h5>Categorias</h5>
        <table class="table table-light">
            <thead class="thead-light">
                <tr>
                    <th>#</th>
                    <th>#</th>
                    <th>#</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<%- include ../../partials/footer.ejs %>
